<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie Power</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <h2>This belongs to {{ name }}</h2>
    <p>Styles from {{url_for('static', filename='css/styles.css')}}</p>
    <table>
      <tr>
        <th>movie</th>
        <th>power</th>
        <th>comments</th>

      </tr>
      {% for movie, power in movies.items() %}
      <tr>
        <td>{{ movie }}</td>
        <td>{{ power }}</td>
        <td>
          {% if power <= 12 %}
          weak
          {% elif power >= 13 and power <=100 %}
          strong
          {% else %}
          legendary
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
